.Rproj.user
.Rhistory
.RData
.Ruserdata
data/04_cytometry_exports/fcs_files/*.fcs
*.fastq.gz
data/06_phylogeny_exports/fasttree.log
data/06_phylogeny_exports/aligned_asvs.fasta
data/02_taxonomy_exports/silva*
data/05_metadata_exports/SeabirdData/202305_SeabirdData/Combined*
data/05_metadata_exports/SeabirdData/202310_SeabirdData/Combined*
data/13_hydrodynamics/glatos_moorings